/* COLORES */

$negro: #000000;
$blanco: #ffffff;
$gris: #808184;
$rojo: #BE1E2D;
$amarillo: #ffe000;



/* TIPOGRAFÍAS */
$open: 'Open Sans', sans-serif;
$gentium: 'Gentium Basic', serif;


/* GENERALES */

body{
    background-color: $negro;
    font-family: $open;
    max-width: 1500px; /* 1366? */
    margin: auto;
}

.blanco{
    color: $blanco!important;
}

.upper{
    text-transform: uppercase;
}

.justificado{
    text-align: justify;
    hyphens: auto;
}


