section#perspectivas{
    max-width: 1200px;
    margin: auto;
    height: calc(100vh - 100px);
    position: relative;
    top: -100px;
    div.contenedorImg{
        height: 100%;
        img{
            max-width: 1200px;
            position: absolute;
            bottom: 0;
        }
        #portadasSolas{
           /*  opacity: 0; */
            height: 520px;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 235px 138px 74px 45px 30px 22px 17px 14px 12px 12px 13px 10px 14px 17px 25px 29px 45px 74px 128px 246px;
            div{
                opacity: 0.35;
            }
            div:hover{
                opacity: 1;
            }
        }        
    }
}

