@media (max-width: 1250px) {
    #barraNavegacion,
    section#presentacion,
    #textoColumnas,
    #perspectivas,
    footer{
        display: none !important;
    }

    section#pptCelular{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        margin-top: 10px;
        img{
            margin-bottom: 20px;
        }
        h1#laLLaveTitulo{
            color: $gris;
            font-family: $gentium;
            font-size: 550%;
        }
        p{
            color: white;
            width: 80vw;
            max-width: 400px;
            text-align: center;
            font-size: 14px;
        }
    }

    div#modalCelular{
        div.modal-dialog{
            div.modal-content{
                div.modal-body{
                    iframe{
                        width: 95vw;
                        height: calc( (95vw*315) / 560 );
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
}


#compartirBoton{
    width: 300px;
    margin: 20px auto;
    text-align: center;
}

#demoBoton,
#compartirBoton{
    background-color: $blanco;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    a{
        text-transform: uppercase;
        font-weight: 600;
        color: $negro;
        text-decoration: none;
    }
}

#compartirBoton:hover,
#demoBoton:hover{
    background-color: $gris;
    a{
        color: $blanco;
    }
}

#compartirBoton:active,
#demoBoton:active{
    background-color: $blanco;
    a{
        color: $negro;
    }
}