@charset "UTF-8";
/* COLORES */
/* TIPOGRAFÍAS */
/* GENERALES */
body {
  background-color: #000000;
  font-family: "Open Sans", sans-serif;
}

.blanco {
  color: #ffffff !important;
}

.upper {
  text-transform: uppercase;
}

.justificado {
  text-align: justify;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

/* establecer max width  1366 !!!!!!!!!!!!*/
/* BARRA NAVEGACIÓN */
#barraNavegacion {
  opacity: 0;
}

#barraNavegacion ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
}

#barraNavegacion ul li {
  list-style-image: url(/images/puntitosBlancos.svg);
  -webkit-padding-start: 1ch;
          padding-inline-start: 1ch;
  margin-left: 80px;
  margin-top: 22px;
}

#barraNavegacion ul li a {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

#barraNavegacion #lazo {
  padding-top: 5px;
  background-image: url("/images/lazo.svg");
  background-repeat: repeat-x;
  height: 39px;
}

#presentacion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

#presentacion #llaveCerrojo #compasImg, #presentacion #llaveCerrojo #llaveOjoImg {
  position: absolute;
  width: 380px;
  margin-top: 20px;
}

#presentacion #llaveCerrojo #compasImg {
  opacity: 0;
}

#presentacion #llaveCerrojo #llaveOjoImg {
  opacity: 1;
}

#presentacion #llaveCerrojo #ingresar {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding-top: 340px;
  opacity: 1;
}

#presentacion #textoIntroduccion #laLLaveTitulo {
  color: #808184;
  font-family: "Gentium Basic", serif;
  font-size: 160px;
  padding-top: 25px;
}

#presentacion #textoIntroduccion .textoIntro {
  font-size: 17px;
  margin-top: -15px;
}

#presentacion #llaveAntigua #llaveAntImg {
  width: 250px;
  margin-top: 25px;
  margin-left: 25px;
}

#bienvenidos {
  font-family: "Gentium Basic", serif;
  font-size: 53px;
  margin-top: 190px;
  margin-bottom: -275px;
  opacity: 0;
}

/* ANIMACIÓN IMAGEN */
@-webkit-keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes desaparecer {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes desaparecer {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#textoColumnas {
  margin-top: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

#textoColumnas .columnas {
  height: 600px;
}

#textoColumnas #columnaDerecha {
  text-align: right;
}

#textoColumnas p::first-letter {
  font-size: 125px;
  font-family: "Gentium Basic", serif;
  margin-right: 15px;
  margin-top: -42px;
  margin-bottom: -60px;
  float: left;
}

/* @import 'perspectiva'; */
section#perspectivas {
  /* margin: auto;
    max-width: 2000px; */
}

section#perspectivas img {
  width: 100%;
  /* max-width: 2000px; */
  position: absolute;
  bottom: 0;
}

section#perspectivas div#grilla {
  border: 1px solid red;
  height: calc(40vh);
  width: 100%;
  position: relative;
  top: 30px;
  top: calc(22vh);
}
/*# sourceMappingURL=style.css.map */