@charset "UTF-8";
/* COLORES */
/* TIPOGRAFÍAS */
/* GENERALES */
body {
  background-color: #000000;
  font-family: "Open Sans", sans-serif;
  max-width: 1500px;
  /* 1366? */
  margin: auto;
}

.blanco {
  color: #ffffff !important;
}

.upper {
  text-transform: uppercase;
}

.justificado {
  text-align: justify;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.bloqueado {
  cursor: no-drop;
}

.manito {
  cursor: pointer;
}

p.aclaracion {
  padding-top: 20px;
  color: #808184;
  font-size: 12px;
}

/* BARRA NAVEGACIÓN */
#barraNavegacion {
  opacity: 0;
  position: fixed;
  width: 100%;
  background-color: #000000;
  padding-bottom: 10px;
  z-index: 10;
  max-width: 1500px;
  margin: auto;
}

#barraNavegacion ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
}

#barraNavegacion ul li {
  list-style-image: url(/images/puntitosBlancos.svg);
  -webkit-padding-start: 1ch;
          padding-inline-start: 1ch;
  margin-left: 80px;
  margin-top: 22px;
}

#barraNavegacion ul li a {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

#barraNavegacion #lazo {
  padding-top: 5px;
  background-image: url("/images/lazo.svg");
  background-repeat: repeat-x;
  height: 39px;
}

section#pptCelular {
  display: none;
}

section#presentacion {
  height: calc(100vh - 100px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  position: relative;
  top: 100px;
  padding-top: calc((100vh - 580px)/2);
}

section#presentacion #llaveCerrojo {
  cursor: pointer;
}

section#presentacion #llaveCerrojo #compasImg, section#presentacion #llaveCerrojo #llaveOjoImg {
  position: absolute;
  width: 380px;
  margin-top: 20px;
}

section#presentacion #llaveCerrojo #compasImg {
  opacity: 0;
}

section#presentacion #llaveCerrojo #llaveOjoImg {
  opacity: 1;
}

section#presentacion #llaveCerrojo #ingresar {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding-top: 340px;
  opacity: 1;
}

section#presentacion #textoIntroduccion #laLLaveTitulo {
  color: #808184;
  font-family: "Gentium Basic", serif;
  font-size: 160px;
  padding-top: 25px;
}

section#presentacion #textoIntroduccion .textoIntro {
  font-size: 17px;
  margin-top: -15px;
}

section#presentacion #llaveAntigua #llaveAntImg {
  width: 250px;
  margin-top: 25px;
  margin-left: 25px;
}

#bienvenidos {
  font-family: "Gentium Basic", serif;
  font-size: 53px;
  margin-top: 190px;
  margin-bottom: -275px;
  opacity: 0;
}

/* ANIMACIÓN IMAGEN */
@-webkit-keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes desaparecer {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes desaparecer {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#textoColumnas {
  margin-top: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  position: relative;
  top: -100px;
  height: calc(100vh - 100px);
}

#textoColumnas .columnas {
  height: 600px;
}

#textoColumnas #columnaIzq,
#textoColumnas #columnaDerecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#textoColumnas #columnaIzq img,
#textoColumnas #columnaDerecha img {
  max-height: calc(100vh - 100px);
}

#textoColumnas #columnaDerecha {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#textoColumnas div.txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#textoColumnas div.txt p::first-letter {
  font-size: 125px;
  font-family: "Gentium Basic", serif;
  margin-right: 15px;
  margin-top: -42px;
  margin-bottom: -60px;
  float: left;
}

section#perspectivas {
  max-width: 1200px;
  margin: auto;
  height: calc(100vh - 100px);
  position: relative;
  top: -100px;
}

section#perspectivas div.contenedorImg {
  height: 100%;
}

section#perspectivas div.contenedorImg img {
  max-width: 1200px;
  position: absolute;
  bottom: 0;
}

section#perspectivas div.contenedorImg #portadasSolas {
  /*  opacity: 0; */
  height: 520px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 235px 138px 74px 45px 30px 22px 17px 14px 12px 12px 13px 10px 14px 17px 25px 29px 45px 74px 128px 246px;
      grid-template-columns: 235px 138px 74px 45px 30px 22px 17px 14px 12px 12px 13px 10px 14px 17px 25px 29px 45px 74px 128px 246px;
}

section#perspectivas div.contenedorImg #portadasSolas div {
  opacity: 0.35;
}

section#perspectivas div.contenedorImg #portadasSolas div:hover {
  opacity: 1;
}

div.modal.fade div.modal-dialog {
  min-width: 70vw;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000000;
  padding-right: 0;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq {
  height: 500px;
  width: 500px;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq .grillaCrows {
  position: absolute;
  top: 0;
  height: 500px;
  width: 500px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ".	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	." ".	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	." ".	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	." ".	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	." ".	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	." ".	.	.	.	.	.	PO	PO	PO	PO	PO	PO	PO	PO	.	.	.	.	.	." ".	.	.	.	.	.	P1	P1	CU	CU	CU	CU	P2	P2	.	.	.	.	.	." ".	.	.	.	.	.	P3	C1	C1	C1	C1	C1	C1	P4	.	.	.	.	.	." ".	.	.	.	.	.	P3	CL	CI	CI	CI	CI	C2	P4	.	.	.	.	.	." ".	.	.	HD	HD	.	P3	CL	C3	EY	EY	C4	C2	P4	.	H1	H1	.	.	." ".	.	.	HD	HD	.	P3	CL	C5	C5	C5	C5	C2	P4	.	H1	H1	.	.	." ".	.	.	HD	HD	.	P3	CL	TR	TR	TR	TR	C2	P4	.	H1	H1	.	.	." ".	.	.	CO	CO	.	P3	ES	ES	ES	ES	ES	ES	P4	.	C6	C6	.	.	." ".	.	.	CO	CO	.	P3	ES	ES	ES	ES	ES	ES	P4	.	C6	C6	.	.	." ".	.	.	CO	CO	.	P3	ES	ES	ES	ES	ES	ES	P4	.	C6	C6	.	.	." ".	.	.	CO	CO	.	P3	S1	S1	S1	S1	S1	S1	P4	.	C6	C6	.	.	." "SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK" "SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK" "SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK" "SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK	SK";
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq .grillaCrows #snake {
  -ms-grid-row: 17;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 20;
  grid-area: SK;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq .grillaCrows #snake1 {
  -ms-grid-row: 16;
  -ms-grid-column: 8;
  -ms-grid-column-span: 6;
  grid-area: S1;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq .grillaCrows #columns {
  -ms-grid-row: 13;
  -ms-grid-row-span: 4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: CO;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq .grillaCrows #columns1 {
  -ms-grid-row: 13;
  -ms-grid-row-span: 4;
  -ms-grid-column: 16;
  -ms-grid-column-span: 2;
  grid-area: C6;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq .grillaCrows #heads {
  -ms-grid-row: 10;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: HD;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq .grillaCrows #heads1 {
  -ms-grid-row: 10;
  -ms-grid-row-span: 3;
  -ms-grid-column: 16;
  -ms-grid-column-span: 2;
  grid-area: H1;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq .grillaCrows #portico {
  -ms-grid-row: 6;
  -ms-grid-column: 7;
  -ms-grid-column-span: 8;
  grid-area: PO;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq .grillaCrows #portico1 {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-area: P1;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq .grillaCrows #portico2 {
  -ms-grid-row: 7;
  -ms-grid-column: 13;
  -ms-grid-column-span: 2;
  grid-area: P2;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq .grillaCrows #portico3 {
  -ms-grid-row: 8;
  -ms-grid-row-span: 9;
  -ms-grid-column: 7;
  grid-area: P3;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq .grillaCrows #portico4 {
  -ms-grid-row: 8;
  -ms-grid-row-span: 9;
  -ms-grid-column: 14;
  grid-area: P4;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq .grillaCrows #cupula {
  -ms-grid-row: 7;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: CU;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq .grillaCrows #cupula1 {
  -ms-grid-row: 8;
  -ms-grid-column: 8;
  -ms-grid-column-span: 6;
  grid-area: C1;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq .grillaCrows #columnas12 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 4;
  -ms-grid-column: 8;
  grid-area: CL;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq .grillaCrows #columnas12a {
  -ms-grid-row: 9;
  -ms-grid-row-span: 4;
  -ms-grid-column: 13;
  grid-area: C2;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq .grillaCrows #eye {
  -ms-grid-row: 10;
  -ms-grid-column: 10;
  -ms-grid-column-span: 2;
  grid-area: EY;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq .grillaCrows #circulo {
  -ms-grid-row: 9;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: CI;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq .grillaCrows #circulo1 {
  -ms-grid-row: 10;
  -ms-grid-column: 9;
  grid-area: C3;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq .grillaCrows #circulo2 {
  -ms-grid-row: 10;
  -ms-grid-column: 12;
  grid-area: C4;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq .grillaCrows #circulo3 {
  -ms-grid-row: 11;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: C5;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq .grillaCrows #triangulo {
  -ms-grid-row: 12;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: TR;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.izq .grillaCrows #escalera {
  -ms-grid-row: 13;
  -ms-grid-row-span: 3;
  -ms-grid-column: 8;
  -ms-grid-column-span: 6;
  grid-area: ES;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.der {
  margin: 10px 20px;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.der div.puntitos {
  display: -ms-grid;
  display: grid;
  width: 140px;
  -ms-grid-columns: 1fr fr;
      grid-template-columns: 1fr fr;
  -ms-grid-rows: 1fr fr;
      grid-template-rows: 1fr fr;
      grid-template-areas: "simbolo simbolo" "estetica album";
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.der div.puntitos div.simbolo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: simbolo;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.der div.puntitos div.estetica {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: estetica;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.der div.puntitos div.album {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: album;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.der div.puntitos div {
  text-align: center;
  margin: auto;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.der div.puntitos div div.puntoAmarillo {
  height: 14px;
  width: 14px;
  background-color: #ffffff;
  border-radius: 14px;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.der div.puntitos div p {
  min-width: 70px;
  padding-top: 7px;
  margin-bottom: 7px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #ffe000;
  opacity: 0;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.der div.descripcionTapa {
  position: relative;
  width: 100%;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.der div.descripcionTapa div#textoImgModal {
  overflow-y: auto;
  /* o scroll */
  height: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.der div.descripcionTapa div#textoImgModal p#textoModal {
  padding-top: 10px;
  color: #ffffff;
  font-size: 13px;
  padding-right: 15px;
  padding-left: 28px;
}

div.modal.fade div.modal-dialog div.modal-content div.modal-body div.der div.descripcionTapa div#textoImgModal img {
  max-width: 300px;
}

div.flechaModal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.flechaModal p#textoModal {
  padding: 0 0 0 15px !important;
  margin: 0 !important;
}

div.flechaModal .fa-caret-left {
  color: #ffe000;
  font-size: 30px;
  padding-left: 28px;
}

/* Scroll bar */
::-webkit-scrollbar {
  display: initial;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #dadada;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

footer p {
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 1250px) {
  #barraNavegacion,
  section#presentacion,
  #textoColumnas,
  #perspectivas,
  footer {
    display: none !important;
  }
  section#pptCelular {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }
  section#pptCelular img {
    margin-bottom: 20px;
  }
  section#pptCelular h1#laLLaveTitulo {
    color: #808184;
    font-family: "Gentium Basic", serif;
    font-size: 550%;
  }
  section#pptCelular p {
    color: white;
    width: 80vw;
    max-width: 400px;
    text-align: center;
    font-size: 14px;
  }
  #demoBoton {
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
  }
  #demoBoton a {
    text-transform: uppercase;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
  }
  #demoBoton:hover {
    background-color: #808184;
  }
  #demoBoton:hover a {
    color: #ffffff;
  }
  #demoBoton:active {
    background-color: #ffffff;
  }
  #demoBoton:active a {
    color: #000000;
  }
  div#modalCelular div.modal-dialog div.modal-content div.modal-body iframe {
    width: 95vw;
    height: calc( (95vw*315) / 560);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */